.example-spacer {
    flex: 1 1 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    max-width: 400px;
    width: 100%;
    background-color: white;
}

.container-search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-box {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.example-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.example-full-width {
    flex: 1;
}

.spinner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #F2C73F;
}

.add-button {
    height: 72%;
    margin-right: 1%;
}

.heroe-photo {
    height: 80%;
}

.icon {
    color : #9FA19D
}

.mat-icon-lg{
    color: #F2C73F;
}

span{
    color: #F2C73F;
}

.empty-box{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}